* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  
  --color-header-footer: #065e7c;
  --color-input-footer: #387e96;
  --color-base-gray-600: #121214;
  --color-white: #fff;
  
}

html, input, body {
  font: 400 1.6rem/160% 'mulish', sans-serif;
}


.container-02 {
  padding-inline: 2.2rem;
  margin-inline: auto;
  max-width: calc(40rem + 2.2rem);
 }

 img {
  transition: all 400ms;  
  filter: saturate(1.5);
 }

 img:hover {
  scale: 1.03;
 }

body {
  font-size: 1.6rem;
  background: #F4FCFF;
}

 header {
  background-color: var(--color-header-footer);
  padding: 1.2rem 2.8rem;
 } 

 header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;

  margin-inline: auto;
  max-width: 37.4rem;
 }

 .input-wrapper input {
  width: 100%;
  border: none;
  border-radius: .4rem;
  padding: 1.2rem;

  font-weight: 600;
  background-color: var(--color-input-footer);
  color: var(--color-white);
 }

 .input-wrapper input::placeholder {
  color: var(--color-white);
 }

 /* main */

 main .cat {
  width: 100%;
 }

 .title{
  margin: 3rem 0 3rem;
 }

 .title h1, .sidebar h1 {
  font-size: 2.3rem;
 } 

 .like {
  margin-top: .8rem;
 }

 .like img:hover {
  transform: scale(1.1);
 }

 .text-content p {
  color: var(--color-base-gray-600);
 }

 /* aside */

 .sidebar h1 {
  margin: 6rem 0 3rem;
 }

 section {
  display: grid;
  gap: 2rem;
 }

 .item {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 1.6rem;
 }

 .details h2 {
  font-size: 1.8rem;  
  line-height: 100%;
 }

 .details p {
  margin-top: 1.2rem;
  font-size: 1.3rem;
 }


 footer {
  text-align: center;
  padding: 1.6rem 2.7rem;
  margin-top: 4rem;

  background-color: var(--color-input-footer);
 }

 footer p {
  font-weight: 600;
  color: var(--color-white);
 }

 /* desktop */

@media (min-width: 1400px) {
  .page {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    gap: 4.4rem 3.4rem;
  }

  header .container,
  .container-02 {
    max-width: initial;
    margin: initial;
    padding: initial;
  }

  header {
    grid-area: header;
  }

  header .container {
    max-width: 121.6rem;
    margin-inline: auto;
  }

  header form, 
  .input-wrapper {
    flex: 1;
  }

  .input-wrapper input {
    width: 100%;
  }

  main {
    grid-area: main;
  }

  main.container-02 {
    max-width: 80rem;
    margin-left: auto;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .like, .like img {
    margin: initial;
    padding-left: 1rem;
  }

  aside {
    grid-area: aside;
  } 

  .sidebar h1 {
    margin: 0 0 3rem;
  }

  aside.container-02 {
    max-width: 38.4rem;
  }

  footer {
    grid-area: footer;
  }
}
 

header {
  animation: fromtop 600ms 100ms backwards;
}

main, aside {
  animation: frombottom 600ms 400ms backwards;
}

@keyframes fromtop{
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes frombottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}
